
#making {
	margin-left: 55%;
	width: 30%;
	z-index: 100;
	position: fixed;
}
#widgets {
	margin-right: 55%;
	width: 50%;
	z-index: 100;
	position: fixed;
}

#companies {
	margin-left: 43%;
	width: 30%;
	z-index: 100;
	position: fixed;
}

.drawZone{
	background-color: #222222;
}

.widgetDrop:hover{
	cursor:move;
}
